<% content_for :page_title do %>
  <%= Spree.t(:heading, type: params[:report_category].to_s.titleize, scope: :insight) %>
<% end %>

<% content_for :title do %>
  <%= Spree.t(:heading, type: params[:report_category].to_s.titleize, scope: :insight) %>
<% end %>

<div id='insights-div' class='container-fluid' >
  <div class="row">
    <%= select_tag :reports, options_for_select(@reports.map { |report_name| [ Spree.t(:title, scope: [:insight, report_name]), report_name, data: { url: admin_analysis_url(report_name, report_category: params[:report_category]) }] }.unshift(['Select a report', '', data: { url: admin_analysis_index_url(report_category: params[:report_category]) }, disabled: true]), @report_name || ''), class: 'select2' %>
  </div>
</div>
<%= content_tag(:div, class: 'hidden report-data', data: { report_data: @report_data_json }) {} %>

<div id='report-container'>
  <div id='search-div' class='hide'>
    <div class="filter-wrap row">
      <div class="col-sm-12">
        <div class="input-group index-filter-button">
          <span class="input-group-btn">
            <button class="btn btn-default js-show-index-filters" type="button">
              <span class="icon icon-chevron-right"></span>
              <%= Spree.t(:filter) %>
            </button>
          </span>
          <%= form_tag form_action(@report_name, params[:report_category]), id: "quick-search" do %>
            <%= text_field_tag :quick_search, nil, class: "form-control js-quick-search", placeholder: Spree.t(:quick_search) %>
          <% end %>
        </div>
        <div id="table-filter" data-hook class="well filter-well">
        </div>
      </div>
    </div>

    <div class="table-active-filters js-filters"></div>
  </div>

  <%= render 'chart' %>

  <div id="table-helpers" class="row pull-right hide">
    <span id="page-selector">
      <span class="select-box-slide pull-right">
        <%= select_tag :per_page, options_for_select(page_selector_options, params[:per_page] || SpreeAnalysis::Config[:records_per_page]), class: 'form-control text-right pull-right page-select' %>
      </span>
      <span title="apply pagination" class="col-md-2 hide pull-right">
        <%= link_to '#', class: 'btn btn-default', id: 'apply-pagination' do %>
          <span class="glyphicon glyphicon-eye-open"></span>
        <% end %>
      </span>
      <span title="remove pagination" class="col-md-2 pull-right">
        <%= link_to '#', class: 'btn btn-default', id: 'remove-pagination' do %>
          <span class="glyphicon glyphicon-eye-close"></span>
        <% end %>
      </span>
    </span>
    <span id='page-helpers'>
      <span title="reset" class="col-md-2 pull-right">
        <%= link_to '#', class: 'btn btn-default', id: 'reset' do %>
          <span  class="glyphicon glyphicon-repeat"></span>
        <% end %>
      </span>
      <span title="refresh" class="col-md-2 pull-right">
        <%= link_to '#', class: 'btn btn-default', id: 'refresh' do %>
          <span class="glyphicon glyphicon-refresh"></span>
        <% end %>
      </span>
      <span title="download" class="col-md-2 pull-right">
        <%= link_to '#', class: "btn btn-default dropdown-toggle", data: { toggle: 'dropdown' } do %>
          <span class="glyphicon glyphicon-download"></span>
        <% end %>
        <ul class="dropdown-menu">
          <li><%= link_to 'CSV', admin_analysis_download_path(format: 'csv'), class: 'download-link', data: { url: admin_analysis_download_path(format: 'csv') } %></li>
          <li><%= link_to 'Excel', admin_analysis_download_path(format: 'xls'), class: 'download-link',  data: { url: admin_analysis_download_path(format: 'xls') }%></li>
          <li><%= link_to 'Text', admin_analysis_download_path(format: 'text'), class: 'download-link',  data: { url: admin_analysis_download_path(format: 'text') }%></li>
          <li><%= link_to 'PDF', admin_analysis_download_path(format: 'pdf'), class: 'download-link', data: { url: admin_analysis_download_path(format: 'pdf') }%></li>
        </ul>
      </span>
    </div>
  </div>

  <div id='report-div'>
  </div>

  <div id='paginator-div'>
  </div>
</div>

<%#= render partial: 'spree/admin/templates/insights/show', formats: [:template] %>
<%#= render partial: 'spree/admin/templates/insights/paginator', formats: [:template] %>
<%#= render partial: 'spree/admin/templates/insights/search', formats: [:template] %>
